body {
   width: 512px;
    margin: 0;
}
hr {
    height: 3px;
    background-color: black;
    } 
.app-main {
  border: 3px solid black ;
  margin: 20px;
  padding: 15px;
} 
h2 {
  margin-bottom: 0;
  margin-top: 0;
}
p {
    margin-top: 0;
}